.bingo-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px; /* 칸 사이의 간격을 10px로 설정 */
  width: 100vw;
  height: 90vh; /* 아래 버튼을 위해 높이를 90vh로 조정 */
  box-sizing: border-box; /* 여백 포함 */
}

.bingo-cell {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-number {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 24px;
  color: black;
}

.color-buttons {
  display: none;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.bingo-cell:hover .color-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-buttons button {
  margin: 2px;
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.color-buttons button:hover {
  opacity: 0.8;
}

.reset-button {
  width: 100%;
  padding: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.reset-button:hover {
  background-color: #d32f2f;
}
